body{
    padding-top: 100px;
    font-family: 'Courgette', cursive !important ;
   
}

#inputText{
    width: 250px;
}

#clear{
    width: 255px;
}
.cartoon img{
    width: 300px;
   
}
.text{
    text-align: center;
    font-size: 30px;
    color: brown;
}
.formStyle{
   border: 1px solid black;
   height: 325px;
   background-color: brown;
   
}
input{
    width: 60px;
    height: 50px;
    background-color: burlywood;
    font-size: 17px;
    font-weight: 550;
}
input:hover{
    background-color:#e9d14c ;
}